* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;

  font-family: Arial, sans-serif;

  background: #fdf6f0;
  color: #333;
}

#root {
  min-height: 100vh;
}

main {
  min-height: 100vh;
  padding: 100px 40px;
  text-align: center;
}

h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

p {
  font-size: 20px;
}